@charset "UTF-8";
/* 전체 배경색상 및 전체 폰트 지정 */
body {
	background-color: #252525 ;
	font-size: 1.25rem;
	font-family:'NeoDunggeunmo';
}

#main {
	width: 100%;
	min-width: 600px;
	max-width: 96rem; /* 1920의 80% */
	margin: 0 auto;
	padding: 11.0rem 0; /* 헤더 사이즈 + 1rem */
	display: flex;
	background-color: #252525;
}

/* 메인 > 사이드 바 */
div#sidebar {
	min-width: 10rem;
	margin: 0 0.5rem 0 1rem;
	padding-top: 3rem;
}
/* 사이드 바 버튼 박스 */
div#sidebar > div#button_box {
	position: sticky;
	top: 6rem;
}
/* 사이드 바 버튼 */
div#sidebar > div#button_box > button {
	/* 폰트 */
	font-family:'NeoDunggeunmo';
	font-size: 16pt;

	/* 크기 및 위치 */
	width: 100%;
	height: 15rem;
	margin-bottom: 1rem;

	/* 디자인 */
	border: none;
	color: white;
	background-color: #3b3b3b;;

	/* 모서리 픽셀 효과 */
	clip-path: polygon(calc(100% - 0.4rem) 0%, calc(100% - 0.4rem) 0.2rem, calc(100% - 0.2rem) 0.2rem, calc(100% - 0.2rem) 0.4rem, 100% 0.4rem, 100% calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.2rem), calc(100% - 0.4rem) calc(100% - 0.2rem), calc(100% - 0.4rem) 100%, 0.4rem 100%, 0.4rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.4rem), 0% calc(100% - 0.4rem), 0% 0.4rem, 0.2rem 0.4rem, 0.2rem 0.2rem, 0.4rem 0.2rem, 0.4rem 0%);
}
div#sidebar > div#button_box > button:hover {
	cursor: pointer;
}

/* 메인 > 컨텐츠 */
div#contents {
	min-width: calc(600px - 2rem); /* 양옆 마진 2rem */
	margin: 0 1rem 0 0.5rem;
	background-color: #252525;
}

/* 게임목록 헤더 */
div#contents div#header {
	margin: 0 2.5rem;
	font-size: 1.5rem;
	color: #F2D377;
	display: flex;
	align-items: left;

	/* 모서리 픽셀 효과 */
	/* clip-path: polygon(calc(100% - 0.4rem) 0%, calc(100% - 0.4rem) 0.2rem, calc(100% - 0.2rem) 0.2rem, calc(100% - 0.2rem) 0.4rem, 100% 0.4rem, 100% calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.2rem), calc(100% - 0.4rem) calc(100% - 0.2rem), calc(100% - 0.4rem) 100%, 0.4rem 100%, 0.4rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.4rem), 0% calc(100% - 0.4rem), 0% 0.4rem, 0.2rem 0.4rem, 0.2rem 0.2rem, 0.4rem 0.2rem, 0.4rem 0%); */

}
/* 사진 및 게임이름 담을 박스 */
div#contents div.game_box {
	height: calc(100% - 3rem);
	display: flex;
	margin: 0 0.75rem 0.75rem 0.75rem;
	justify-content: space-between;
	align-items: center;
}
div#contents div.game_box > a.game_link {
	margin: 1.5rem 0.75rem;
	width: 25%;
}

div#contents div.game_box > a.game_link > div.img_wrapper {
	background-color: #3b3b3b;
	width: 100%;
	/* border-radius: 1rem; */
	aspect-ratio: 1.3; /* 이미지의 비율 */
	margin-bottom: 1rem !important;
	margin: auto;
	overflow: hidden;
	clip-path: polygon(calc(100% - 0.6rem) 0%, calc(100% - 0.6rem) 0.3rem, calc(100% - 0.3rem) 0.3rem, calc(100% - 0.3rem) 0.6rem, 100% 0.6rem, 100% calc(100% - 0.6rem), calc(100% - 0.3rem) calc(100% - 0.6rem), calc(100% - 0.3rem) calc(100% - 0.3rem), calc(100% - 0.6rem) calc(100% - 0.3rem), calc(100% - 0.6rem) 100%, 0.6rem 100%, 0.6rem calc(100% - 0.3rem), 0.3rem calc(100% - 0.3rem), 0.3rem calc(100% - 0.6rem), 0% calc(100% - 0.6rem), 0% 0.6rem, 0.3rem 0.6rem, 0.3rem 0.3rem, 0.6rem 0.3rem, 0.6rem 0%);
}
/* 게임 사진 */
div#contents div.game_box > a.game_link img {
	height: 100%;
	width: 100%;
	object-fit: cover; /* 이미지를 겉에 div 태그에 맞게 자름 */
}
/* 게임 이름 */
div#contents div.game_box > a.game_link > span.game_name {
	width: 100%;
	height: 2rem;
	background-color: #3b3b3b;
	color: white;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	/* border-radius: 0.5rem; */
	clip-path: polygon(calc(100% - 0.4rem) 0%, calc(100% - 0.4rem) 0.2rem, calc(100% - 0.2rem) 0.2rem, calc(100% - 0.2rem) 0.4rem, 100% 0.4rem, 100% calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.4rem), calc(100% - 0.2rem) calc(100% - 0.2rem), calc(100% - 0.4rem) calc(100% - 0.2rem), calc(100% - 0.4rem) 100%, 0.4rem 100%, 0.4rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.2rem), 0.2rem calc(100% - 0.4rem), 0% calc(100% - 0.4rem), 0% 0.4rem, 0.2rem 0.4rem, 0.2rem 0.2rem, 0.4rem 0.2rem, 0.4rem 0%);

}

@media (max-width: 768px) {
	div#contents {
		width: calc(100% - 2rem);
	}
	div#contents div.game_box {
		margin: 0 0.5rem;
	}
	div#contents div.game_box > a.game_link {
		margin: 1rem 0.5rem;
		width: 25%;
	}
}